Widget.types.page_type.types['redirect'] = {
	handle_preview: function(page_id, page_type) {
		// Should never reach this
	},
		
	handle_admin: function(page_id, container, page_type) {
		var edit = Widget.parseHTML('{{includeTemplate=edit}}').appendTo(container);
		edit.submit(function() {
			return false;
		});
		var external = edit.find('input[name="external"]');
		var internal_wrapper = edit.find('.internal-location');
		Widget.createWithElement('page_input', function(widget) {
			widget.handle('element_set', function(event, element) {
				internal_wrapper.append(element);
				element.attr('name', 'internal');
			});
		}, function(widget) {
			page_type.callPageTypeMethod('adminLoad', function(result) {
				if(result.type === 'internal') {
					widget.value(result.value);
				} else {
					external.val(result.value).change();
				}
			});
		});
		external.change(function() {
			internal_wrapper.toggle(!external.val());
		});
	},
	
	did_save: function(page_id, container, page_type) {
		var edit = container.children('form');
		page_type.callPageTypeMethod('adminSave', edit.serializeArrayKV());
	}
};